# User-specific configurations
*.iml
.gradle/*
.idea/libraries/
.idea/vcs.xml
.idea/workspace.xml
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
